#nav{
    background-color: #3498db;
}
#offcanvasDarkNavbar{
    background-color: whitesmoke;
}
#a{
    
    color:grey;
}
.logoutbtn{
    background-color: #3498db;
    color: whitesmoke;
}
#body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#user_Name{
  color: #3498db;
}
#section{
  width: 90%;
}
#toDoInput{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div{
  width: 90%;
  align-items: center;

}
#list{
  margin: 20px;
  border-top: 1px solid black;
}
.listItem{
  display: flex;
  padding: 5px 10px;
  border-bottom: 1px solid black;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.listItem p{
  flex-grow: 3;
}
.listItem:hover{
  background-color: rgba(52, 152, 219, .1);
}
.listItem img{
    height: 20px;
    width: 20px;
    padding-left: 2px ;
}
.listItem button{
  outline: none;
  background-color: transparent;
  border: none;
}